.routine-dry-container {
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    /* border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
}
  
  
  .routine-step {
    margin-bottom: 20px;
  }
  
  .routine-step h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .routine-step p {
    font-size: 1rem;
    color: #555;
  }

  
.user-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-image {
  max-width: 100%;
  height: auto;
}
  
  /* Additional styling based on your preference */
  